# Development
DEV_DB_HOST=localhost
DEV_DB_USER=YOUR_DB_USER
DEV_DB_PASS=YOUR_DB_PASS
DEV_DB_PORT=5432
DEV_DB_NAME=YOUR_DB_NAME

# Testing
TEST_DB_HOST=localhost
TEST_DB_USER=YOUR_DB_USER
TEST_DB_PASS=YOUR_DB_PASS
TEST_DB_PORT=5432
TEST_DB_NAME=YOUR_DB_NAME

# Production
DB_HOST=localhost
DB_USER=YOUR_DB_USER
DB_PASS=YOUR_DB_PASS
DB_PORT=5432
DB_NAME=YOUR_DB_NAME

PORT=3000
