@import '{zurb:foundation-sites}/scss/foundation';
// @import 'settings';

// @include foundation-everything;

@import '{zurb:foundation-sites}/scss/util/util';

// http://colorhunt.co/c/79325/
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);


@include foundation-global-styles;
// @include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

.is-active, .is-active:focus, .is-active:hover {
  background-color: map-get($foundation-palette, primary);
  color: white;
}

.white:hover {
  color: white !important;
}

.spaced li {
  margin-bottom: .7em;
}

.at-title > h3 {
  text-align: left;
}

.at-form {
  padding: 0 15px;
  margin: 0;
}

#at-pwd-form {
  button, .at-input.row {
    margin-top: 30px;
  }

  .at-input.row > div.large-12.columns {
    padding-left: 0;
  }
}

.at-signin-link, .at-signup-link {
  margin: 30px 0 0 0;
  text-align: left;

  p {
    margin-left: 0;
  }
}

#at-signUp {
  padding-left: 0;
}
#at-signIn {
  padding-left: 0;
}

.notes-list {
  margin-top: 20px;

  li {
    margin-bottom: 25px;
  }
}

.CodeMirror {
  height: auto;
}

.deets {
  width: 200px;
  display: inline-block;
}

footer.share {
  bottom: 0;
  width: 100%;
}

ul.inline li {
  display: inline;
  margin-right: 10px;
}

.input-group.shared {
  margin-top: 5px;
}

.subheader.sharedwith {
  margin-top: 0;
}

.task {
  border-bottom: 1px solid map-get($foundation-palette, primary);
  margin-bottom: 30px;
}

.task-label {
  text-transform: none;
  display: inline-block;
  width: 100%;
}
.task-label.checked {
  text-decoration: line-through;
}

.task-button {
  margin-right: 10px;
}

.edit-task {
  width: 100%;
}

.created-at {
  display: inline-block;
  padding-right: 10px;
}

.badge.primary.float-right {
  margin-right: 20px;
}
