{% extends 'layout.html' %}

{% block title %}{{folder.name}}{% endblock %}

{% block body %}
<div class="row">
  <div class="columns large-1">
    <h4>Folders</h4>

    <ul class="folders no-bullet">
      {% for folder in folders %}


        <li class="{% if request.path == '/notes/folder/'|add:folder.slug %}active-folder{% endif %}">
          <a href="{% url 'notes:folder' slug=folder.slug %}" class="dbl-hider" data-hider="{{folder.slug}}-edit">{{folder.name}}</a>

          <div class="folder-edit hide" id="{{folder.slug}}-edit">
            <form class="" action="{% url 'notes:folder' slug=folder.slug %}" method="post">
              {% csrf_token %}
              {{ folder_form.as_p }}
              <input type="submit" value="Save" class="button tiny success" />
            </form>
          </div>
        </li>
      {% endfor %}
    </ul>

    <hr/>
    <button class="button tiny hider" data-hider="new-folder">New Folder</button>

    <div class="callout hide popup-form" id="new-folder">
      <!-- <button class="close-button" data-close>&times;</button> -->
      <h5>New Folder</h5>
      <form class="" action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Folder" class="button tiny success" />
      </form>
    </div>

  </div>

  <div class="columns large-2">
    <h4>Notes</h4>

    <div class="notes">
      {% for note in notes %}
        {{note.name}}
        <br>
        {{note.content}}
      {% endfor %}
    </div>
  </div>

  <div class="columns large-7">
    <br><br>
    Note content...
  </div>
</div>

{% endblock %}


{% block vue %}

{% endblock %}
