{% extends 'layout.html' %}

{% block title %}{{active_folder.name}}{% endblock %}

{% block body %}
<div id="app" class="row">
  <div class="columns large-1">
    <h4>Folders</h4>

    <ul class="folders no-bullet">
      {% for folder in folders %}

        <li class="{% if request.path == '/notes/folder/'|add:folder.slug %}active-folder{% endif %}">
          <a href="{% url 'notes:folder' slug=folder.slug %}">{{folder.name}}</a>
        </li>
      {% endfor %}
    </ul>

    <hr/>
    <button class="button tiny hider" data-hider="edit-folder">Edit Folder</button>

    <div class="callout hide popup-form" id="edit-folder">
      <form class="" action="#" method="post">
        {% csrf_token %}
        {{ folder_form.as_p }}
        <input type="submit" value="Save" class="button tiny success" />

        <a class="button tiny alert float-right" href="{% url 'notes:delete_folder' slug=folder.slug %}">&times;</a>
      </form>
    </div>

  </div>

  <div class="columns large-2">
    <h4>Notes</h4>

    <a class="button tiny" href="{% url 'notes:create' %}">New Note</a>

    <ul class="notes no-bullet">
      {% for note in active_folder.note_set.all %}
        <li class="note-name">{{note.name}}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="columns large-7">
    <br><br>
    <div id="note">
      <p>${message}</p>
    </div>
  </div>
</div>

{% endblock %}


{% block vue %}
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      message: 'You loaded this page on ' + new Date().toLocaleString()
    },
    computed: {
      notes: function() {
        return [
          {% for note in active_folder.note_set.all %}
            {
              id: {{note.id}},
              name: '{{note.name}}',
              content: '{{note.conent}}',
              created_at: '{{note.created_at}}',
              updated_at: '{{note.updated_at}}'
            },
          {% endfor %}
        ];
      },
    }
  });
</script>
{% endblock %}
