{% extends 'layout.html' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <h1>Notes</h1>
    <br/>

    <div id="app">
      <h3>${message}</h3>
    </div>

    <div class="notes">
      {% for note in notes %}
        {{notes.name}}
        <br>
        {{note.content}}
      {% endfor %}
    </div>

  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {% if page_obj.has_previous %}
      <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous <span class="show-for-sr">page</span></a></li>
    {% endif %}

      <li><a href="#" aria-label="Page {{page_obj.number}}">{{page_obj.number}}</a></li>

    {% if page_obj.has_next %}
      <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    {% endif %}
  </ul>

  <script type="text/javascript">
    var token = "{{user.auth_token.key}}";
  </script>

{% endblock %}

{% block vue %}

<script type="text/javascript">
  var app2 = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      message: 'You loaded this page on ' + new Date().toLocaleString()
    }
  });
</script>
{% endblock %}
