@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'includes';


.popup-form {
  width: 20em;
}

.active-folder {
  a {
    text-decoration: underline;
  }
}

.note-name {
  cursor: pointer;
}
